html , body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
    
}
#main{
   height: 100%;
   width: 100%;
   background-image: url('https://images.unsplash.com/photo-1566010503302-2564ae0d47b6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2xvdWRzfGVufDB8fDB8fHww'); 
   background-size: cover;
   background-repeat: no-repeat;
}
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: #ffff;
}
#nav h2{
    font-size: 30px;
}
#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}
#full{
    height: 100%;
    width:40%;
    position:absolute;
    top: 0;
    right:-50%;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,.544);
    padding: 40px 50px;
}
    #full h4{
        font-size: 50px;
        font-weight: 800;
        margin-bottom: 10px;
    }


#full i {
    top: 5%;
    right: 10%;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    font-weight: 700;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}    